*.sh.*

source/cpp/CQdiss/bin/*

*.log
*.tlog
*.pdb
*.lastbuildstate
**/Debug/*
**/Release/*
.fig
figures/
!draft/*.pdf

# Data files
*.bin

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.db

cpp/QJ/\.vs/QJ/v14/\.suo

cpp/QJ/QJ/QJ\.vcxproj

*.vcxproj

cpp/CQdiss/\.vs/CQdiss/v14/\.suo

*.opendb

*.aux

draft/draft\.synctex\.gz

source/cpp/NonLin/NonLin/*.txt
!source/cpp/NonLin/NonLin/config.txt

*.txt

source/cpp/NL/NL/*.txt
!source/cpp/NL/NL/config.txt

data/

cpp/QJ/QJ/*.txt
!config.txt
articles/


source/cpp/QJ/QJ/*.txt
!source/cpp/QJ/QJ/config.txt

*.sdf

*.suo

*.asv

*.opensdf

*.user



source/cpp/CQdiss/bin/
